@import "tailwindcss";

@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

.react-grid-item.react-grid-placeholder {
  background: rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px;
}

@layer utilities {
  .bg-graph-paper {
    /* Cell of each size of visual grid (20px is half of rowHeight+margin) */
    background-size: 20px 20px;
    
    /* Vertical and horizontal lines */
    background-image:
      linear-gradient(to right, #c4c4c4 1px, transparent 1px),
      linear-gradient(to bottom, #c4c4c4 1px, transparent 1px);
      background-color: white;
  }
}

/* Hide grid when exporting PDF */
@media print {
  .bg-graph-paper {
    background-image: none !important;
  }
}

/* Force tailwind to use dark mode variable instead of system preference */
@variant dark (&:where(.dark, .dark *)); 